body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e0f7fa;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button{
  margin-top: 15px;
  margin-left: 45px;
}